# the name of the current app
spring:
  application:
    name: spring-boot-custom-datasource-config-demo

  autoconfigure:
    exclude:
      - org.springframework.boot.jdbc.autoconfigure.DataSourceAutoConfiguration

  # DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
  datasource:
    driver-class-name: org.postgresql.Driver
    name: spring_boot
    password: spring_boot_admin
    username: spring_boot_admin
    url: jdbc:postgresql://localhost:5432/${spring.datasource.name}
    type: com.zaxxer.hikari.HikariDataSource

    # the properties for the Hikari connection pool
    hikari:
      maximum-pool-size: 10
      minimum-idle: 1
      pool-name: spring-boot-pool

  # JPA properties - JpaProperties
  jpa:
    hibernate:
      # be VERY careful with its usage
      # DO NOT use it for 'prod' | 'staging' environments
      ddl-auto: none

    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false

  # indent the returned JSON responses
  jackson:
    serialization:
      INDENT_OUTPUT: true
  sql:
    init:
      platform: postgresql

# logging settings
logging:
  level:
    root: info
    com:
      zaxxer:
        hikari: warn
    org:
      apache: warn
      hibernate: warn
      springframework: warn

  pattern:
    console: '%clr([%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{36}){cyan} %m%n%wex'