# the name of the current app
spring:
  application:
    name: spring-boot-embedded-database-demo

  datasource:
    # in-memory database
    url: jdbc:h2:mem:test

    # on disk database
    #url: jdbc:h2:~/test

    username: sa
    password: aVeryComplexPassword

  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        format_sql: true
    hibernate:
      ddl-auto: create

  sql:
    init:
      platform: h2
      #schema-locations: 'schema.sql'
      #data-locations: 'data.sql'

  # indent the returned JSON responses
  jackson:
    serialization:
      INDENT_OUTPUT: true

# logging settings
logging:
  level:
    root: info
    com:
      zaxxer: warn
    org:
      apache: warn
      # to see the query parameters - change 'sql' to 'debug' and 'type' to 'trace'
      hibernate: warn
        #sql: warn
        #type: warn
      springframework: warn

  pattern:
    console: '%clr([%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{36}){cyan} %m%n%wex'