# the name of the current app
spring:
  application:
    name: spring-boot-config-per-profile-demo
  autoconfigure:
    exclude: # the recommended auto-configure exclude mode
      - org.springframework.boot.autoconfigure.aop.AopAutoConfiguration
      - org.springframework.boot.autoconfigure.jmx.JmxAutoConfiguration

# logging settings
logging:
  level:
    root: info
    org:
      springframework: warn

  pattern:
    # special characters need to be escaped / quoted
    console: '%clr([%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{36}){cyan} %m%n%wex'

connection:
  timeout: 0