<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productRepository"
          class="net.safedata.springboot.training.d01.s03.repository.ProductRepository"
          init-method="initialize"/>

    <bean id="productService" class="net.safedata.springboot.training.d01.s03.service.ProductService"
          destroy-method="onClose">
        <constructor-arg ref="productRepository"/>
    </bean>
</beans>